# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.history
.atom/
.svn/
.build/
.buildlog/
.swiftpm/
migrate_working_dir/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# API Docs
doc/api/

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS
ios/Flutter/.last_build_id

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json